#root {
    width: 100vw;
    height: 100vh;
    word-break: keep-all;
    font-family: 'MaruBuri';

    overflow: scroll;
}

.pink_background {
    min-height: 100vh;
    background-image: url(/src/assets/images/backgrounds/background_pinkyellow.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.start_background {
    height: 100vh;
    background-image: url(/src/assets/images/backgrounds/backgound_start.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    margin: 0 auto;
    max-width: 512px;
    padding: 1rem;
    text-align: center;
}

.logo {
    padding: 12px;
    width: 50px;
}
