@font-face {
  font-family: 'SuperMagic';
  src: url('assets/fonts/Super Magic.ttf') format('truetype');
}
@font-face {
  font-family: 'ClimateCrisisKR';
  src: url('assets/fonts/ClimateCrisisKR-1979.ttf') format('truetype');
}


.roundedCard {
  border-radius: 30px;
  border: 5px solid #FFF;
  background: rgba(255, 255, 255, 0.51);
  padding: 1rem 2rem;
}

.blue_text {
  color: #223C6D;
  position: relative;

  margin-top: calc((100vh - 400px) / 2);
  margin-bottom: calc((100vh - 400px) / 2);
}

.title {
  font-family: 'MaruBuriBold';
  font-size: 24px;
}

.logo_cocktail {
  width: 200px;
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translate(-50%, 0%);
}

.start_area {
  margin-top: 120px;
}

.sub_title {
  font-size: 16px;
  margin-bottom: 12px;
}

.start_button {
  padding: 0px 13px;
  max-width: 255px;
  border-radius: 8px;
  background: #FFF8DF;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.15);

  font-size: 22px;
}

.menu_button {
  font-size: 16px;
  padding: 4px 8px;
  border-radius: 8px;
  background: rgba(255, 248, 223, 0.60);
}

.cocktail_menu {
  width: 100%;
}

.center { 
  height: calc(100vh - 152px);
  display: flex;
  align-items: center;
}