.roundedCard {
  border-radius: 30px;
  border: 5px solid #FFF;
  background: rgba(255, 255, 255, 0.51);
  padding: 1rem 2rem;
}

.logo_cocktail {
  max-width: 100%;
}

.start_button {
  width: 100%;
  max-width: 255px;
  border-radius: 10px;
  background: #FAEFC9;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  
  font-family: 'Aclonica';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.menu_button {
  width: 100%;
  border-radius: 30px;
  border: 5px solid #FFF;
  background: rgba(255, 255, 255, 0.51);
}